@import "colors";

.card {
    border: 1px solid $grey2;
    padding: 10px 25px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px $grey2;
    min-height: 160px;
    margin-bottom: 1rem;
  }
  
  .card h1,
  .card h2,
  .card h3,
  .card h4,
  .card h5,
  .card h6,
  .card p {
    margin-bottom:1.2rem;
  }
  
  a.card {
    display: block;
    color: $grey4;
    text-decoration: none;
    -webkit-transition: color .3s, border-color .3s, -webkit-transform .3s;
    transition: color .3s, border-color .3s, -webkit-transform .3s;
    transition: color .3s, transform .3s, border-color .3s;
    transition: color .3s, transform .3s, border-color .3s, -webkit-transform .3s;
  }
  
  a.card:hover,
  a.card:active {
    color: black;
    border-color: #8A8A8A;
    -webkit-transform: translateX(-2px) translateY(-2px);
            transform: translateX(-2px) translateY(-2px);
  }
  
  code {
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    font-size: 90%;
    white-space: nowrap;
    background: $grey1;
    border: 1px solid $grey2;
    border-radius: 4px;
  }
  
  pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    overflow-x: auto;
  }
  
  @media (max-width: 560px) {
    pre > code {
      white-space: nowrap;
    }
  }

  .table-responsive {
      overflow-x: auto;
  }
  
  .table-responsive th,
  .table-responsive td {
    white-space: nowrap;
  }
  
  table {
    border-collapse: collapse;
    -webkit-overflow-scrolling: touch;
  }
  
  th,
  td {
    padding: 0.75rem 1rem;
  }
  
  th {
    text-align: left;
  }
  
  td {
    border-bottom: 1px solid $grey2;
  }
  
  th:first-child,
  td:first-child {
    padding-left: 0;
  }
  
  th:last-child,
  td:last-child {
    padding-right: 0;
  }
  
  tr th {
      border-bottom: 1px solid $black;
  }
  
  @media (min-width: 560px) {
    th:first-child,
    td:first-child {
      padding-left: 1rem;
    }
  }
  
  button,
  .button {
    margin-bottom: 1rem;
  }
  
  input,
  textarea,
  select,
  fieldset,
  pre,
  blockquote,
  dl,
  figure,
  table,
  p,
  ul,
  ol,
  form {
    margin-bottom: 1rem;
  }
  
  p {
    margin-top: 0;
  }
  
  .alert {
    margin-bottom: 1rem;
  }
  
  .u-full-width {
    width: 100%;
  }
  
  .u-max-full-width {
    max-width: 100%;
  }
  
  /* Floats */
  
  .u-pull-right {
    float: right;
  }
  
  .u-pull-left {
    float: left;
  }
  
  .u-cf {
    content: "";
    display: table;
    clear: both;
  }