$white: #fff;
$black: #000;

$fontColor: #222;

$dGrey: #333;
$mGrey: #555;
$mlGrey: #888;
$lGrey: #bbb;

$grey1: #f1f1f1;
$grey2: #e1e1e1;
$grey3: #e3e3e3;
$grey4: #757575;

$aColor1: #1eaedb;
$aColor2: #0fa0ce;

$sColor1: #2ecc71;
$sColor2: #27ae60;
$sColor3: #82e3aa;

$dColor1: #e74c3c;
$dColor2: #c0392b;
$dColor3: #ee8377;

$pColor1: #33c3f0;
$pColor2: #157b9b;
$pColor3: #7cd9f8;

